<%- include('../../partials/header.ejs') %>

<div class="auth-page">
  <h2>Edit Profile</h2>
  <form action="/profile/edit" method="POST" enctype="multipart/form-data">
    <label>username:</label>
    <input class="auth-input card-hover" type="text" name="username" value="<%= user.username %>" required />

    <label>profile Picture:</label>
    <input class="auth-input card-hover" type="file" class="form-control-file" name="profile_Picture" />

    <label>cover Picture:</label>
    <input class="auth-input card-hover" type="file" class="form-control-file" name="cover_Picture" />
    <button class="btn-style card-hover" type="submit">Update</button>
  </form>
  <a href="/auth/<%= user._id %>/update-password" class="">change password</a>
</div>

<%- include('../../partials/footer.ejs') %>
